#env
.env
.env.local
.env.development.local
.env.production.local

#go
bin/
*.exe
*.o
*.out
*.test

#next.js
.next/
node_modules/
out/
build/
.eslintcache
.tsbuildinfo

#misc
.DS_Store
Thumbs.db
.vscode/
.idea/